@import '../../../variables';

.wrapper {
  display: grid;
  @media only screen and (min-width: $breakpointTablet) {
    padding: 0 3rem 3rem 3rem;
  }
  @media only screen and (max-width: $breakpointTablet) {
    padding: 0 0 2.5rem 0;
  }

  & .extraPriceWrapper {
    padding: 0.5rem 0;
    text-align: center;
  }

  & .Toplabel {
    font-family: $fontFamilyBold;
    margin: 0 auto;
    font-size: 1.3rem;
    background: $pillBackground;
    color: $white;
    border-radius: 25rem;
    padding: 0.1rem 1rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: $breakpointDesktop) {
      font-size: 1rem;
    }
  }

  & .title {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-family: $fontFamilyMediumItalic;
    padding-bottom: 1rem;

    @media only screen and (max-width: $breakpointTablet) {
      font-size: calc($semiMediumFont - 1.2rem);
    }
    @media only screen and (max-width: $breakpointMobile) {
      
    }
  }
  & .largerTitle {
    @extend .title;
    font-size: $fontSmall;
    font-family: $fontFamilyBold;
    font-style: normal;
  }

  & .extraLargerTitle {
    @extend .title;
    font-size: 2.6rem;
    font-family: $fontFamilyBold;
    font-style: normal;
  }

  & .label {
    font-family: $fontFamilyBook;
    font-weight: 700;
    text-align: center;
    font-size: 1.4rem;
    &__italic {
      font-size: 1.2rem;
      font-style: italic;
      text-align: center;
    }
    @media only screen and (max-width: $breakpointDesktop) {
      margin-bottom: 3rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      font-size: $font3XSmall;
    }
  }

  & .value {
    font-family: $fontFamilyBold;
    text-align: center;
    font-size: 2.8rem;
    @media only screen and (max-width: $breakpointTablet) {
      font-size: $fontSmall;
    }
  }

  & .valueWithMacros {
    font-family: $fontFamilyBook;
    text-align: center;
    font-size: 1.6rem;
    @media only screen and (max-width: $breakpointDesktop) {
      font-size: calc($fontSmall - 0.2rem);
    }
  }

  & .selectedLine {
    border-left: 1px solid $white;
  }
  & .unselectedLine {
    border-left: 1px solid $grayMedium;
  }
}
