@import '../../../variables';

.wrapper {
  width: $rowWidth;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10rem;
  @include responsive-wrapper;

  & .title {
    font-size: $fontLarge;
    font-weight: 700;
    text-align: center;
    @media only screen and (max-width: $breakpointDesktop) {
      font-size: $semiMediumFont;
    }
  }

  & .entrees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    padding: 0 10%;

    @media only screen and (max-width: $breakpointDesktop) {
      padding: 0 10%;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      padding: 0 3%;
    }
  }

  & .subTypesWrapper_3_Columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;

    @media only screen and (max-width: $breakpointDesktop) {
      grid-template-columns: 1fr;
      padding: 2rem;
      row-gap: 2rem;
    }
  }

  & .subTypesWrapper_2_Columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;

    @media only screen and (max-width: $breakpointDesktop) {
      grid-template-columns: 1fr;
      padding: 2rem;
      row-gap: 2rem;
    }
  }
}
