@import '../../../variables';

$subTitleFontSize: 2.7rem;
$rowTopTitle: 494px;
.wrapper {
  width: $rowWidth;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
//Start New featured scss
 & .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    margin: auto;
  
    &Title {
      font-size: 16px;
      font-family: $fontFamilyBlack !important;
      margin-top: -1.5rem;
    margin-bottom: -12px;
      margin-right: 25px;
  
      @media only screen and (max-width: $breakpointTablet) {
        font-size: 1.5rem;
      }
      @media only screen and (max-width: $breakpointMobile) {
        font-size: 16px;
      }
    }
  & .checkboxes{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $breakpointMobile) {
      font-size: 14px;
      margin-left: -40px;
    }
    & .checkbox_label{
      margin-left: 10px;
      @media only screen and (max-width: $breakpointMobile) {
        margin-left: -12px;
      }
    }
   & label {  
    display: inline-block;
    white-space: nowrap;
    margin-right: -10px !important;
    & span {
      font-weight: bold;
      cursor: pointer;
  }
  }
    &input {
      vertical-align: middle;
    }
    &label span {
      vertical-align: middle;
    }
    & input[type=checkbox]{
    opacity: 0;
    }
    & label input[type=checkbox] +span:before {
     content: "";
     border: 0.1rem solid #CDCDCE !important;
     display: inline-block;
     width: 15px;
     height: 15px;
     margin-right: 10px;
     @media only screen and (max-width: $breakpointMobile) {
      margin-right: 3px;
    }
    }
    & label input[type=checkbox]:checked +span:before {
   background-color: $primaryColor;
     }
  }
    &Subtitle {
      font-size: $fontMediumRegular;
      font-family: $fontFamilyBook !important;
      width: $rowTopTitle;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
  
      @media only screen and (max-width: $rowTopTitle) {
        width: $rowWidthMobile;
        padding: 0 2rem;
      }
    }
  }
  //End New featured scss
  & .quantities {
    & div {
      margin: 0;
    }
    & .number {
      color: $primaryColor;
      font-weight: 700;
    }
    font-size: $subTitleFontSize;
  }

  & .title {
    font-family: $fontFamilyMedium;
    font-size: $fontMedium;
    color: $primaryColor;
    margin-bottom: 1.3rem;
  }

  & .listHeader {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: $breakpointTablet) {
      flex-direction: column;
      padding: 0 3%;
    }
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(4, $cardWidth);
    column-gap: 1.6rem;
    row-gap: 1.6rem;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: $breakpointDesktop) {
      flex-wrap: nowrap;
      grid-template-columns: repeat(auto-fill, minmax($cardWidth, $cardWidth));
    }

    @media only screen and (max-width: $breakpointTablet) {
      padding: 0 3%;
      overflow-x: auto;
      display: flex;
      padding-bottom: 1.5rem;
    }
  }

  & .subTypesWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
    @media only screen and (max-width: $breakpointDesktop) {
      grid-template-columns: 1fr;
      padding: 2rem;
      row-gap: 2rem;
    }
  }

  @media only screen and (max-width: $breakpointDesktop) {
    width: $rowWidthTable;
    grid-template-columns: 100%;
    column-gap: 5rem;
  }
  @media only screen and (max-width: $breakpointTablet) {
    width: $rowWidthMobile;
    grid-template-columns: 100%;
    column-gap: 0;
  }
}
