@import '../../../variables';

$subTitleFontSize: 2.7rem;

.wrapper {
  width: $rowWidth;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10rem;
  margin-top: 1rem;
  padding-bottom: 3rem;

  & .quantities {
    & div {
      margin: 0;
    }
    & .number {
      color: $primaryColor;
      font-weight: 700;
    }
    font-size: $subTitleFontSize;
  }

  & .title {
    font-family: $fontFamilyMedium;
    font-size: $fontMedium;
    color: $primaryColor;
    margin-bottom: 1.3rem;
  }

  & .listHeader {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: $breakpointTablet) {
      flex-direction: column;
      padding: 0 3%;
    }
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(4, $cardWidth);
    column-gap: 1.6rem;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: $breakpointDesktop) {
      flex-wrap: nowrap;
      grid-template-columns: repeat(auto-fill, minmax($cardWidth, $cardWidth));
    }

    @media only screen and (max-width: $breakpointTablet) {
      padding: 0 3%;
      overflow-x: auto;
      display: flex;
    }
  }

  & .subTypesWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
    @media only screen and (max-width: $breakpointDesktop) {
      grid-template-columns: 1fr;
      padding: 2rem;
      row-gap: 2rem;
    }
  }

  @media only screen and (max-width: $breakpointDesktop) {
    width: $rowWidthTable;
    grid-template-columns: 100%;
    column-gap: 5rem;
  }
  @media only screen and (max-width: $breakpointTablet) {
    width: $rowWidthMobile;
    grid-template-columns: 100%;
    column-gap: 0;
  }
}
