@import '../../../variables';

$subTitleFontSize: 2.7rem;

.wrapper {
  width: $rowWidth;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10rem;
  @include responsive-wrapper;

  & .quantitiesWrapper {
    top: 0;
    background-color: #f6f6f7;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;

    & .topBarQuantities {
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      @media only screen and (max-width: $breakpointTablet) {
        flex-direction: column;
      }
    }
    & div {
      margin: 0.5rem;
    }
    & .number {
      color: $primaryColor;
      font-weight: 700;
    }
    font-size: $subTitleFontSize;
  }

  & .quantities {
    & div {
      margin: 0.5rem;
    }
    & .number {
      color: $primaryColor;
      font-weight: 700;
    }
    font-size: $subTitleFontSize;
  }

  & .title {
    font-family: $fontFamilyMedium;
    font-size: $fontMedium;
    color: $primaryColor;
    margin-bottom: 1rem;
  }

  & .listHeader {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: $breakpointDesktop) {
      flex-direction: column;
      padding: 0 3%;
    }
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;

    @media only screen and (max-width: $breakpointDesktop) {
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      padding: 0 3%;
    }
  }

  & .subTypesWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
    @media only screen and (max-width: $breakpointDesktop) {
      grid-template-columns: 1fr;
      padding: 2rem;
      row-gap: 2rem;
    }
  }
}
