@import '../../../variables';

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: $butterMilk;
  margin-top: -3rem;
  padding: 3rem;

  @media (max-width: $breakpointTablet) {
    grid-template-columns: 100%;
    & .text {
      margin-bottom: 2rem;
    }
  }

  @media (min-width: $breakpointTablet) {
    grid-auto-flow: column;
  }
}
