@import '../../../variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $butterMilk;
  margin-top: -3rem;
  padding: 2.5rem;
  @include responsive-wrapper;

  .title {
    font-family: $fontFamilyBlack;
    font-size: $semiMediumFont + 0.4rem;
  }

  .text {
    font-family: $fontFamilyBook;
    font-size: $fontMediumSmall;
    margin-bottom: 1rem;
  }
}
