@import '../../../variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $butter;
  margin-top: -3rem;
  padding: 2.5rem;
  @include responsive-wrapper;

  .title {
    font-family: $fontFamilyBlack;
    font-size: $semiMediumFont + 0.4rem;
  }

  .text {
    font-family: $fontFamilyBook;
    font-size: $fontMediumSmall;
    margin-bottom: 1rem;
  }

  .bannerButton {
    font-family: $fontFamilyMedium;
    font-size: $fontMedium;
    width: auto;
    background-color: $primaryColorLight;
    padding: 1rem 4rem;
    border-radius: 3rem;
  }
}
