@import '../Account.module.scss';
@import '../../../variables';
@import '../../../App.scss';

$subTitleFontSize: 2.7rem;
.buttonsRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $white;
  padding: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10rem;
  @media only screen and (max-width: $breakpointDesktop) {
    width: $rowWidthTable;
    grid-template-columns: 50% 50%;
    column-gap: 5rem;
  }
  @media only screen and (max-width: $breakpointTablet) {
    width: $rowWidthMobile;
    grid-template-columns: 100%;
    column-gap: 0;
  }

  & .quantitiesWrapper {
    top: 0;
    background-color: #f6f6f7;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    & .topBarQuantities {
      display: flex;
      justify-content: center;
      @media only screen and (max-width: $breakpointTablet) {
        display: block;
        text-align: center;
      }
    }
    & div {
      margin: 0.5rem;
    }
    & .number {
      color: $primaryColor;
      font-weight: 700;
    }
    font-size: $subTitleFontSize;
  }

  & .quantities {
    & div {
      margin: 0.5rem;
    }
    & .number {
      color: $primaryColor;
      font-weight: 700;
    }
    font-size: $subTitleFontSize;
  }

  & .title {
    font-size: $fontLarge;
    font-weight: 700;
    text-align: center;
  }

  & .listHeader {
    display: flex;
    align-items: center;

    & .quantities {
      text-align: left;
      @media only screen and (max-width: $breakpointTablet) {
        display: center;
      }
    }

    @media only screen and (max-width: $breakpointTablet) {
      display: block;
    }
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;

    @media only screen and (max-width: $breakpointDesktop) {
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      padding: 0 3%;
    }
  }

  & .subTypesWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
    @media only screen and (max-width: $breakpointDesktop) {
      grid-template-columns: 1fr;
      padding: 2rem;
      row-gap: 2rem;
    }
  }
}
