@import '../../variables';

.wrapper {
  display: flex;
  align-items: center;
  color: $primaryColor;
  margin: 1rem 0 0 0 !important;

  & .disabled {
    background: $grayMedium !important;
  }

  & .button {
    padding: 0.2rem 1rem;
    cursor: pointer;
    background: $primaryColor;
    box-shadow: unset !important;

    &:hover {
      background: darken($primaryColor, 10%);
    }

    & svg {
      width: 1rem;
      fill: $white;
    }
  }

  & .quantity {
    padding: 0 0.5rem;
    min-width: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }

  & .leftButton {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  & .rightButton {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  & .lightButton {
    background: $white;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    box-shadow: unset !important;
    &:hover {
      color: $white;
      background: darken($primaryColor, 10%);
    }
  }
}

.wrapper.isFromModal {
  display: flex;
  align-items: center;
  color: $primaryColor;

  & .disabled {
    background: $grayMedium !important;
  }

  & .button {
    padding: 0.9rem 1rem;

    & svg {
      width: 2rem;
      fill: $white;
    }
  }

  & .quantity {
    font-size: $semiMediumFont;
  }

  & .leftButton {
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    padding: 10px 7px 4px 9px;
  }

  & .rightButton {
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 10px 10px 4px 7px;
  }
}
