@import '../../variables';

.wrapper {
  & .button {
    width: 12rem;
    padding: 0.2rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-family: $fontFamilyMedium;
    font-size: $fontXSmall;
    margin-top: 1rem !important;
  }

  & .lightButton {
    background: $white;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    box-shadow: unset !important;
    &:hover {
      color: $white;
      background: darken($primaryColor, 10%);
    }
  }

  & .primaryButton {
    background: $primaryColor;
    box-shadow: unset !important;
    &:hover {
      background: darken($primaryColor, 10%);
    }
  }

  & .bigPrimaryButton {
    width: 11rem !important;
    border-radius: 2.5rem;
    padding: 1.5rem 0;
    background: $primaryColor;
    box-shadow: unset !important;
    &:hover {
      background: darken($primaryColor, 10%);
    }
  }

  & .activeWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  & .addedButton {
    display: flex;
    justify-content: center;
    align-items: center;

    & .checkMark {
      margin-left: 0.5rem;
      & svg {
        width: 1.6rem;
        fill: $white;
      }
    }
  }
}

.wrapper.isFromModal {
  & .button {
    width: 16rem;
    padding: 0.9rem 1rem;
    border-radius: 2.5rem;
  }
}
