@import '../../variables';

.wrapper {
  display: flex;
  align-items: center;
  color: $primaryColor;

  & .disabled {
    background: $grayMedium !important;
  }

  & .button {
    padding: 0.2rem 1rem;
    cursor: pointer;
    font-size: $fontXSmall;
    background: $primaryColor;
    box-shadow: unset !important;

    &:hover {
      background: darken($primaryColor, 10%);
    }

    & svg {
      width: 1rem;
      fill: $white;
    }
  }

  & .quantity {
    padding: 0 0.5rem;
    min-width: 2.1rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  & .leftButton {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  & .rightButton {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  & .lightButton {
    background: $white;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    box-shadow: unset !important;
    &:hover {
      color: $white;
      background: darken($primaryColor, 10%);
    }
  }
}
