@import '../../../variables';

$subTitleFontSize: 2.7rem;

.wrapper {
  width: $rowWidth;
  grid-template-columns: 100%;
  column-gap: 10rem;
  @include responsive-wrapper;

  & .deliveryDate {
    $defaultFontSize: 2.2rem;
    font-family: $fontFamilyBold;
    & p {
      font-size: $defaultFontSize !important;
    }
    font-size: $defaultFontSize !important;
  }

  & .subTotalWrapper {
    @media only screen and (min-width: $breakpointDesktop) {
      margin: 3.5rem 0;
    }
    @media only screen and (max-width: $breakpointTablet) {
      align-items: center;
      justify-content: center;
    }
    & .subTotal {
      @media only screen and (max-width: $breakpointTablet) {
        width: 95%;
        margin: 1rem 0;
      }
    }
  }

  & .contentWrapper {
    display: grid;
    @media only screen and (min-width: $breakpointDesktop) {
      grid-template-columns: 70% 30%;
      column-gap: 3.1rem;
    }
    @media only screen and (max-width: $breakpointDesktop) {
      grid-template-columns: 60% 40%;
      column-gap: 3.1rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      grid-template-columns: 100%;
    }

    & .menuItemsWrapper {
      display: grid;
      grid-template-columns: 1fr;

      @media only screen and (max-width: $breakpointTablet) {
        justify-content: center;
        grid-template-columns: 100%;
      }

      & .section {
        & .sectionTitle {
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-family: $fontFamilyMedium;
          font-size: $fontMedium;
          color: $primaryColor;
          padding: 0 2rem;
          & .edit {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        & .sectionRow {
          display: grid;
          grid-template-columns: repeat(auto-fill, 25%);
          justify-content: flex-start;

          @media only screen and (max-width: $breakpointTablet) {
            display: flex;
            overflow-x: auto;
            padding: 0 1.3rem;
          }
        }
      }

      & p {
        align-items: center;
      }
      & p:nth-child(even) {
        & strong {
          font-size: calc($fontMedium + 0.8rem);
        }
      }
    }
  }
}
