@import '../../../variables';

$subTitleFontSize: 2.7rem;

.wrapper {
  width: $rowWidth;
  grid-template-columns: 100%;
  column-gap: 10rem;
  @include responsive-wrapper;

  & .title {
    font-size: $fontLarge;
    font-family: $fontFamilyBold;
    font-weight: 700;
    text-align: center;
    @media only screen and (max-width: $breakpointTablet) {
      font-size: $semiMediumFont;
    }
  }

  & .menuItemsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 224px);
    justify-content: flex-start;

    @media only screen and (max-width: $breakpointTablet) {
      justify-content: center;
    }

    & p {
      align-items: center;
    }
    & p:nth-child(even) {
      & strong {
        font-size: calc($fontMedium + 0.8rem);
      }
    }
  }

  & .topBarWrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;

    & .columns {
      display: flex;
      @media only screen and (max-width: $breakpointTablet) {
        display: block;
      }
    }

    & .card {
      box-shadow: 0px 0px 30px #00000012;
      border-radius: 1rem;
      padding: 2.5rem;
      overflow: hidden;
      align-items: center;
      justify-content: center;

      & .startingDate {
        margin-left: 9rem;
        font-size: $fontMedium;
        font-family: $fontFamilyBook;
        display: flex;
        & .ordinal {
          font-size: $fontXSmall;
        }
      }

      & .edit {
        margin-left: 1rem;
        color: $primaryColor;
        font-size: $fontXSmall;
        text-decoration: underline;
        cursor: pointer;
      }

      & .title {
        font-size: $fontMediumLarge;
        font-weight: 400;
        font-family: $fontFamilyBook;

        & .day {
          color: $primaryColor;
          font-family: $fontFamilyBold;
        }
        & .price {
          font-size: calc($fontMediumLarge + 0.5rem);
          font-weight: 700;
          font-family: $fontFamilyBold;
          margin-left: 12px;
        }
      }
    }

    @media only screen and (max-width: $breakpointDesktop) {
      display: block;
    }
  }
}
