@import '../../../variables';

$subTitleFontSize: 2.7rem;

.wrapper {
  width: $rowWidth;
  grid-template-columns: 100%;
  column-gap: 10rem;
  @include responsive-wrapper;

  & .deliveryDate {
    font-family: $fontFamilyBold;
  }

  & .title {
    font-size: $fontLarge;
    font-family: $fontFamilyBold;
    font-weight: 700;
    text-align: center;
    @media only screen and (max-width: $breakpointTablet) {
      font-size: $semiMediumFont;
    }
  }

  & .menuItemsWrapper {
    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (max-width: $breakpointTablet) {
      justify-content: center;
    }

    & .section {
      & .sectionTitle {
        font-family: $fontFamilyMedium;
        font-size: $fontMedium;
        color: $primaryColor;
        padding: 0 1rem;
      }
      & .sectionRow {
        display: grid;
        grid-template-columns: repeat(auto-fill, 25%);
        justify-content: flex-start;
      }
    }

    & p {
      align-items: center;
    }
    & p:nth-child(even) {
      & strong {
        font-size: calc($fontMedium + 0.8rem);
      }
    }
  }
}
