@import '../../../variables';
@import '../Account.module.scss';

.currentOrderWrapper{
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
}
.currentOrderMenu{
    display: flex;
    flex-direction: row;

    & p{
        margin: 0
    }
}
.seeAllMenu{
    width:10%;
    background-color: $primaryColor;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 8px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: $white;
    text-decoration: none;
}
.underlinedHeader{
    padding-bottom: 8px;
    border-bottom: 1px solid $gray;
}