{% capture content_for_header%}
  {% capture site_name %} QuickFresh {% endcapture %}
  {% capture page_title %} QuickFresh - Order {% endcapture %}
  {% capture page_description %} Online order {% endcapture %}        
{% endcapture %}
  
<div id="root"></div>
<script src="APP_BUNDLE_URL"></script>