{% capture content_for_header%}
  {% capture site_name %} PAGE_TITLE {% endcapture %}
  {% capture page_title %} PAGE_TITLE {% endcapture %}
  {% capture page_description %} PAGE_DESCRIPTION {% endcapture %}        
{% endcapture %}
  
<div id="root"></div>
<script src="APP_BUNDLE_URL"></script>