@import '../../../../variables';

.menuWrapper{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 16px;
}
.menuLink{
    display: inherit;
    font-size: 18px;
    color: $black;
    text-decoration: none;
    margin:8px 6px;
    justify-content: flex-start;
    align-items: center;
}
.activeLink{
    display: inherit;
    font-weight: bold;
    color:$primaryColor;
    text-decoration: none;
    font-size: 18px;
    margin:8px 6px;
    justify-content: flex-start;
    align-items: center;
}
.iconWrapper{
    width: 20px;
    margin-right: 10px;
    display: flex;

    & svg{
        fill:$black
    }
}

.activeLink .iconWrapper{

    & svg{
        fill:$primaryColor
    }
}