@import '../../../../variables';

.wrapper {
  width: $rowWidth;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10rem;
  margin-top: 5rem;

  & .title {
    font-size: $fontLarge;
    font-weight: 700;
    text-align: center;
    @media only screen and (max-width: $breakpointDesktop) {
      font-size: $semiMediumFont;
    }
  }

  & .rows {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    flex-direction: row;
    @media only screen and (max-width: $breakpointDesktop) {
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    @media only screen and (max-width: $breakpointTablet) {
      row-gap: 1rem;
      flex-direction: column;
    }

    & .required {
      font-size: 1rem;
      color: $red;
    }
  }

  & .buttonWrapper {
    min-height: 5.4rem;
    min-width: 20rem;
    font-weight: 700;
    @media only screen and (max-width: $breakpointDesktop) {
      width: 26rem;
    }
  }
}
