@import '../../../../variables';

.wrapper {
  width: $rowWidth;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10rem;
  @media only screen and (max-width: $breakpointDesktop) {
    width: $rowWidthTable;
    grid-template-columns: 50% 50%;
    column-gap: 5rem;
  }
  @media only screen and (max-width: $breakpointTablet) {
    width: $rowWidthMobile;
    grid-template-columns: 100%;
    column-gap: 0;
  }

  & .title {
    font-size: $fontLarge;
    font-weight: 700;
    text-align: center;
  }

  & .rows {
    display: flex;
    column-gap: 3rem;
    justify-content: center;

    @media only screen and (max-width: $breakpointDesktop) {
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }

    & .required {
      font-size: 1rem;
      color: $red;
    }
  }

  & .buttonWrapper {
    min-height: 5.4rem;
    min-width: 20rem;
    font-weight: 700;
    @media only screen and (max-width: $breakpointDesktop) {
      width: 26rem;
    }
  }
}
