@import '../../variables';

.card {
  border-radius: 3px;
  box-shadow: 0px 0px 30px #0000001c;
  display: grid;
  grid-template-rows: 16rem;
  cursor: pointer;
  overflow: hidden;
  min-width: $cardWidthWithoutBorder;
  width: $cardWidthWithoutBorder;
  height: 100%;
  margin-bottom: 16px;

  & .description {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    font-size: $fontXSmall;
    padding: 0 1rem;
    font-family: $fontFamilyLight;
    min-height: 2em;
    @media only screen and (max-width: $breakpointTablet) {
      column-gap: 1.4rem;
    }
    @media only screen and (min-width: $breakpointTablet) {
      column-gap: 0.1rem;
    }

    & .metafieldValue {
      font-size: $fontSmall;
      font-family: $fontFamilyBold;
    }

    & .metafieldName {
      font-family: $fontFamilyLight;
      font-size: 1rem;
      line-height: 0.4rem;
      @media only screen and (max-width: $breakpointTablet) {
        line-height: 0.8rem;
      }
    }
  }

  & .actions {
    display: flex;
    margin-top: auto;
    font-family: $fontFamilyBold;

    & div {
      margin: 0 0.2rem;
    }
  }

  & .image {
    cursor: pointer;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  & .title {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    font-family: $fontFamilyBlack;
    margin-top: 0.3rem;
  }

  & .descriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding-bottom: 1rem;
  }

  & .iconsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    padding: 1rem;
    
    & .icon {
      width: 30px;
      margin-top: 0.5rem;
    }
  }
  
}
