@import '../../variables';

.card {
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 16rem;
  cursor: pointer;
  overflow: hidden;
  min-width: 285px;
  margin-bottom: 16px;

  & .description {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    font-size: $fontXSmall;
    column-gap: 1.4rem;
    padding: 1rem;

    & .subTitle {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  & .actions {
    display: flex;
    & div {
      margin: 0 0.5rem;
    }
  }

  & .image {
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  & .title {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
  }

  & .descriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
  }
}
