@import '../../variables';

.disabled {
  color: $grayMedium;
  background: $grayLight;
  & div {
    > :first-of-type::after {
      content: '';
      position: absolute;
      border-top: 5px solid #4c4c4c;
      width: 205px;
      transform: rotate(138deg);
      transform-origin: 0% 0%;
      top: 4px;
      left: 155px;
    }
  }
  & :hover {
    border-radius: 0.5rem;
    background: darken($grayLight, 10%);
  }
}

.unselected {
  color: $grayMedium;
  background: $white;
  border: $cardBorderWidth solid $borderColor;
  & :hover {
    border-radius: 0.5rem;
    background: darken($grayLight, 10%);
  }
}
.isSelected {
  color: $white;
  border: $cardBorderWidth solid $secondaryColor !important;
  background-color: $primaryColor;
  & :hover {
    border-radius: 0.5rem;
    background-color: darken($primaryColor, 10%);
  }
}

.card {
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  border: $cardBorderWidth solid $borderColor;
  @media only screen and (max-width: $breakpointTablet) {
    margin-bottom: 2rem;
  }

  .checkMarkWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;

    & .checkMark {
      position: absolute;
      border: $cardBorderWidth solid $white;
      border-radius: 50%;
      font-size: 1rem;
      background: $secondaryColor;

      & .icon {
        display: flex;
        width: 38px;
        height: 38px;
        justify-content: center;
        align-items: center;

        & svg {
          width: 1.6rem;
          fill: $white;
        }
      }
      & :hover {
        border-radius: 50%;
        background: darken($secondaryColor, 10%);
      }
    }
  }
}
