@import './Account.module.scss';
@import '../../variables';
@import '../../App.scss';

$subTitleFontSize: 2.7rem;
.buttonsRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $white;
  padding: 1.5rem;
  font-family: $fontFamilyMedium;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10rem;
  @include responsive-wrapper;
//Start New featured scss
& .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
  margin: auto;

  &Title {
    font-size: 16px;
    font-family: $fontFamilyBlack !important;
    margin-top: -1.5rem;
  margin-bottom: -12px;
    margin-right: 25px;

    @media only screen and (max-width: $breakpointTablet) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: $breakpointMobile) {
      font-size: 16px;
    }
  }
  & .checkboxes{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $breakpointMobile) {
      font-size: 14px;
      margin-left: -40px;
    }
    & .checkbox_label{
      margin-left: 10px;
      @media only screen and (max-width: $breakpointMobile) {
        margin-left: -12px;
      }
    }
   & label {  
    display: inline-block;
    white-space: nowrap;
    margin-right: -10px !important;
    & span {
      font-weight: bold;
      cursor: pointer;
  }
  }
    &input {
      vertical-align: middle;
    }
    &label span {
      vertical-align: middle;
    }
    & input[type=checkbox]{
    opacity: 0;
    }
    & label input[type=checkbox] +span:before {
     content: "";
     border: 0.1rem solid #CDCDCE !important;
     display: inline-block;
     width: 15px;
     height: 15px;
     margin-right: 10px;
     @media only screen and (max-width: $breakpointMobile) {
      margin-right: 3px;
    }
    }
    & label input[type=checkbox]:checked +span:before {
   background-color: $primaryColor;
     }
  }

}
//End New featured scss
  & .quantitiesWrapper {
    top: 0;
    background-color: #f6f6f7;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    font-size: $subTitleFontSize;
    font-family: $fontFamilyLight;

    & .topBarQuantities {
      display: flex;
      justify-content: center;
      @media only screen and (max-width: $breakpointTablet) {
        display: block;
        text-align: center;
      }
    }
    & div {
      margin: 0.5rem;
    }
    & .number {
      color: $primaryColor;
      font-weight: 700;
      font-family: $fontFamilyBold;
    }
  }

  & .quantities {
    font-size: $subTitleFontSize;
    font-family: $fontFamilyLight;

    & div {
      margin: 0.5rem;
    }
    & .number {
      color: $primaryColor;
      font-weight: 700;
      font-family: $fontFamilyBold;
    }
  }

  & .title {
    font-size: $fontLarge;
    font-weight: 700;
    text-align: center;
    font-family: $fontFamilyBold;
  }

  & .listHeader {
    display: flex;
    align-items: center;

    & .quantities {
      text-align: left;
      @media only screen and (max-width: $breakpointTablet) {
        display: center;
      }
    }

    @media only screen and (max-width: $breakpointTablet) {
      display: block;
    }
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;

    @media only screen and (max-width: $breakpointDesktop) {
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      padding: 0 3%;
    }
  }

  & .subTypesWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
    @media only screen and (max-width: $breakpointDesktop) {
      grid-template-columns: 1fr;
      padding: 2rem;
      row-gap: 2rem;
    }
  }
}
