@import '../../../variables';

.mainWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  @media only screen and (min-width: $breakpointDesktop) {
    gap: 4.5rem;
  }

  & .startingAt {
    font-size: 1.2rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
  }

  .subTotalWrapper {
    min-width: 20vw;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media only screen and (max-width: $breakpointTablet) {
      width: 100vw;
    }

    & .selectedIcon {
      svg {
        path {
          fill: $white;
        }
      }
    }

    & .weeklyPrice {
      & .dollarSign {
        position: absolute;
        font-size: 0.8rem;
        top: 3px;
        left: 0;
      }
      & .price {
        padding-left: 0.8rem;
      }
    }

    & .section {
      display: flex;
      flex-direction: row;
      line-height: 3rem;
      font-size: $fontMedium;
      margin: 0.5rem;
      @media only screen and (max-width: $breakpointTablet) {
        justify-content: center;
        align-items: center;
      }

      & .title {
        font-family: $fontFamilyMedium;
        color: $grayMediumSecondary;
      }
      & .subTitle {
        font-family: $fontFamilyBook;
        color: $grayMedium;
      }
      & .breakfastStartingAt {
        display: flex;
        flex-direction: row;
      }
      & .image {
        max-height: 7.2rem;
        padding-left: 3rem;
      }

      & .subSection {
        @media only screen and (max-width: $breakpointTablet) {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    & .row {
      display: grid;
      grid-template-columns: 100%;
      column-gap: 10rem;
      @media only screen and (max-width: $breakpointTablet) {
        justify-content: center;
        align-items: center;
      }

      & .column {
        display: grid;

        & .mealsWrapper {
          display: grid;
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;
          padding: 2rem 2rem 0 2rem;
          border-radius: 1rem;
          @media only screen and (max-width: $breakpointTablet) {
            padding: 2rem 1rem 1rem 1rem;
          }

          & .meal {
            display: flex;
            flex-direction: column;
            text-align: center;
            @media only screen and (max-width: $breakpointDesktop) {
              text-align: center;
            }

            & .title {
              font-size: $semiMediumFont;
              font-family: $fontFamilyBold;
              @media only screen and (max-width: $breakpointTablet) {
                font-size: calc($semiMediumFont - 0.4rem);
              }
            }
            & .subTitle {
              font-size: $fontXSmall;
              font-family: $fontFamilyMedium;
              @media only screen and (max-width: $breakpointTablet) {
                font-size: calc($fontXSmall - 0.3rem);
              }
            }
            & .price {
              font-size: calc($fontXSmall + 0.2rem);
              font-family: $fontFamilyMedium;
              padding: 2rem 0 3.5rem 0;
              @media only screen and (max-width: $breakpointTablet) {
                padding: 2rem 0;
                font-size: calc($fontXSmall - 0.3rem);
              }
            }
            & .breakFastPricing {
              @extend .price;
              padding: 0;
            }
            & .noneIcon {
              svg {
                width: 3.4rem;
                fill: $grayMedium;
              }
            }
            & .noneSubTitle {
              font-size: $semiMediumFont;
              font-family: $fontFamilyBold;
              border-radius: 1rem;
              @media only screen and (min-width: $breakpointDesktop) {
                padding-bottom: 2.7rem;
              }
              @media only screen and (max-width: $breakpointTablet) {
                font-size: calc($semiMediumFont - 0.3rem);
                line-height: 2.3rem;
              }
            }
          }
        }

        & .isSelected {
          @media only screen and (max-width: $breakpointDesktop) {
            border-right: none;
          }
        }

        & .subRow {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin: 0.5rem;
          column-gap: 1rem;
          @media only screen and (max-width: $breakpointTablet) {
            grid-template-columns: repeat(auto-fill, 12rem);
            row-gap: 3rem;
            justify-content: center;
          }
        }
        .subRow3Columns {
          @extend .subRow;
          @media only screen and (max-width: $breakpointTablet) {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 3rem;
            justify-content: center;
          }
        }
        .subRow2Columns {
          @extend .subRow;
          @media only screen and (max-width: $breakpointTablet) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 3rem;
            justify-content: center;
            margin: 0 7.15rem;
          }
        }
        & .subRowFullWidth {
          grid-template-columns: 1fr;
        }
        & .subRowFourColumns {
          grid-template-columns: repeat(2, 1fr);
          @media only screen and (max-width: $breakpointTablet) {
            grid-template-columns: 1fr;
            row-gap: 1rem;
          }
        }
      }
    }

    & .breakfast {
      .subtitle {
        font-size: 1.2rem;
        font-family: $fontFamilyMedium;
      }
    }
  }
}
