@import '../../../../variables';

.card {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
  min-height: 50vh;
  border: 0 !important;

  & .description {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    font-size: $fontXSmall;
    column-gap: 1.4rem;

    & .subTitle {
      text-align: center;
      font-size: $fontMediumLarge;
      font-weight: 700;
    }
    & .subTitleDescription {
      text-align: center;
      font-size: $fontMedium;
    }
  }

  & .descriptionHtml {
    display: block;
  }

  & .actions {
    display: flex;
    & div {
      margin: 0 0.5rem 0 0;
    }
  }

  & .image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  & .title {
    color: $primaryColor;
    font-size: $fontMediumLarge;
    font-weight: 700;
  }

  & .descriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    row-gap: 2rem;
    padding: 2rem 5rem;
  }
}
