@import '../../../../variables';

.card {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
  min-height: 60vh;
  border: 0 !important;

  @media only screen and (max-width: $breakpointTablet) {
    display: block;
  }

  & .description {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    font-size: $fontXSmall;
    font-family: $fontFamilyMedium;
    @media only screen and (min-width: $breakpointDesktop) {
      column-gap: 1rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      column-gap: 0;
      margin: 1.5rem 0;
    }

    & div {
      @media only screen and (min-width: $breakpointDesktop) {
        margin-bottom: 0.12rem;
      }
    }

    & .metafieldValue {
      text-align: center;
      font-weight: 700;
      margin-bottom: -1rem;
      font-size: $fontLarge;
      @media only screen and (max-width: $breakpointDesktop) {
        font-size: $semiMediumFont;
      }
    }
    & .metafieldName {
      text-align: center;
      font-family: $fontFamilyThin;
      @media only screen and (min-width: $breakpointDesktop) {
        font-size: $fontMedium;
      }
      @media only screen and (max-width: $breakpointTablet) {
        font-size: $fontXSmall;
      }
    }
  }

  & .actions {
    display: flex;
    justify-content: flex-start;
    font-family: $fontFamilyBold;

    @media only screen and (max-width: $breakpointTablet) {
      justify-content: center;
    }

    & div {
      margin: 0 0.5rem 0 0;
    }
  }

  & .image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: $breakpointTablet) {
      height: 220px;
    }
  }

  & .title {
    color: $primaryColor;
    font-size: $fontMediumLarge;
    font-weight: 700;
    text-align: left;
    font-family: $fontFamilyBold;
    @media only screen and (max-width: $breakpointTablet) {
      text-align: center;
    }
  }

  & .subtitle {
    @media only screen and (min-width: $breakpointDesktop) {
      margin-top: -2rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      text-align: center;
    }
  }

  & .descriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;

    @media only screen and (min-width: $breakpointTablet) {
      row-gap: 2rem;
      padding: 4rem 4rem;
    }
    @media only screen and (max-width: $breakpointTablet) {
      padding: 2.5rem 2.5rem;
      row-gap: 0.5rem;
    }

    & .contains {
      font-family: $fontFamilyBold;
    }

    & .ingredients {
      h3 {
        margin: 0;
        @media only screen and (max-width: $breakpointTablet) {
          font-size: $fontMediumSmall;
        }
      }
      & .ingredientsText {
        font-size: calc($fontXSmall - 0.3rem);
        font-family: $fontFamilyLight;
      }
    }
  }
}
