@import '../../../../variables';
@import '../../Account.module.scss';

.cardWrapper{
    box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 8px;
}
.cardImageWrapper{
    position: relative;
    overflow: hidden;
    
    & img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }

    &:after{
        display: block;
        content: "";
        padding-bottom: 56.25%;
    }
}
.cardContent{
    display: flex;
    flex-direction: column;
    padding:12px;
    flex-grow: 1;
    & p{
        margin: 0
    }

    & .menuItemTitle{
        font-size: 1.8rem;
        margin: 0 0 12px;
        line-height: 2.4rem;
        flex: 1;
    }
}
.accountMenuRow{
    display:flex;
    flex-direction:row;
}
.cardTitle{
    display: flex;
    flex-grow: 1;
}
.cardText{
    display: flex;
}
.cardInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:$primaryColor;
}