@import '../../../variables';

@mixin fontBoldSemiMedium {
  font-family: $fontFamilyBold;
  font-size: $semiMediumFont;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 4rem;

  & .weekDay {
    font-family: $fontFamilyMedium;
    font-size: $fontMediumSmall;
    font-style: italic;
  }
  & .month {
    @include fontBoldSemiMedium;
    margin-top: 0.5rem;
    line-height: 3rem;
  }
  & .dateNumber {
    @include fontBoldSemiMedium;

    @media only screen and (max-width: $breakpointDesktop) {
      font-size: $fontMedium;
    }
  }
}
