/* Steps */
$fontLarge: 4.7rem;
$fontMedium: 2rem;
$fontSmall: 1.5rem;
$fontXSmall: 1.4rem;

$rowWidth: 75vw;
$rowWidthTable: 90vw;
$rowWidthMobile: 100%;

/* Cards */
$cardDateWidth: 223px;
$cardDateHeight: 160px;
