@import '../../variables';

.wrapper {
  width: 100%;
  background-color: $headerBackgroundColor;
  border-bottom: 1px solid $gray300;
  margin-bottom: 3rem;
  padding: 0.5rem 0;

  & .logoWrapper {
    padding: 1.5rem;

    & .logo {
      max-height: 3.5rem;
    }
  }

  & .stepsWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    min-height: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: $gray300;

    & .description {
      font-size: 1.8rem;
      font-family: $fontFamilyMedium;
      text-align: center;
      width: 120px;
      cursor: pointer;

      @media only screen and (max-width: $breakpointDesktop) {
        font-size: 0.8rem;
      }
    }

    & .description.breakWord {
      width: 75px;
    }

    & .name {
      font-size: 1.4rem;
      text-align: center;
    }

    & .column {
      display: flex;
      padding: 0 1rem;
    }

    & .dividerWrapper {
      padding: 0 3rem;
      @media only screen and (max-width: $breakpointDesktop) {
        padding: 0 1rem;
      }

      & .divider {
        content: '';
        display: block;
        border-top: solid 2px $primaryColor;
        width: 30px;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
      }
    }
  }
}

.isSelected,
.isVisited {
  color: $primaryColor;
}

.isNotVisited {
  cursor: not-allowed !important;
}
