@import '../../variables';

.wrapper {
  width: 100%;
  -webkit-box-shadow: 0 2px 9px -7px $gray;
  -moz-box-shadow: 0 2px 9px -7px $gray;
  box-shadow: 0 2px 9px -7px $gray;
  margin-bottom: 3rem;
  padding: 0.5rem 0;

  & .logoWrapper {
    padding: 1.5rem;

    & .logo {
      max-height: 3.5rem;
    }
  }

  & .stepsWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    min-height: 5rem;
    margin-bottom: 1.5rem;

    & .description {
      font-size: 1.8rem;
      @media only screen and (max-width: $breakpointDesktop) {
        font-size: 0.8rem;
      }
    }
    & .name {
      font-size: 1.4rem;
      text-align: center;
    }

    & .column {
      display: flex;
      padding: 0 1rem;
    }

    & .dividerWrapper {
      padding: 0 3rem;
      @media only screen and (max-width: $breakpointDesktop) {
        padding: 0 1rem;
      }

      & .divider {
        content: '';
        display: block;
        border-top: solid 1px $primaryColor;
        width: 20px;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
      }
    }
  }
}

.isSelected {
  color: $primaryColor;
}
