@import '../../variables';

.wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $white;
  padding: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;

  &Cost {
    color: $black;
    font-size: $fontSmall;
    font-family: $fontFamilyMedium;
  }

  &Frequency {
    color: $primaryColor;
    font-size: $fontMedium;
    font-family: $fontFamilyBold;
  }
}
