@import '../../variables';

.wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $white;
  box-shadow: 0px -3px 30px #0000001d;
  padding: 1.5rem;

  .buttons {
    display: flex;
    gap: 47.5px;
    width: auto;
    align-items: initial;

    .buttonFooter {
      @media only screen and (max-width: $breakpointMobile) {
        margin-right: 7rem;
        padding: 1rem;
        line-height: 2.5rem;
      }
    }
    
    & .arrowButton {
      position: relative;
      background: #A5BE3F;
      color: #000000;
      border-radius: 0;
      border: none !important;
      padding: 0 6rem;
      font-size: 2rem;
      height: 5rem;
      width: 13rem;
      top: 1rem;
      &:after {
        // triangle hover color
        border-left: 4.0rem solid #A5BE3F;
        content: "";
        position: absolute;
        border-bottom: 2.5rem solid transparent;
        border-top: 2.5rem solid transparent;
        height: 0px;
        width: 0px;
        margin-right: -3rem;
        left: 130px;
        box-shadow: none !important;
        top: 0px;
      }
      &:hover, &:active {
        background: darken($buttonColor, 10%);
        color: $buttonTextColor;
        &:after {
          // triangle hover
          border-left: 4.0rem solid darken($buttonColor, 10%);
        }
      }
     
      @media only screen and (max-width: $breakpointMobile) {
        margin-right: 0rem;
        padding: 0rem;
        line-height: 2.5rem;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;

  &Cost {
    color: $black;
    font-size: $fontSmall;
    font-family: $fontFamilyMedium;
  }

  &Frequency {
    color: $primaryColor;
    font-size: $fontMedium;
    font-family: $fontFamilyBold;
  }
}
