@import '../../variables';

.wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $white;
  box-shadow: 0px -3px 30px #0000001d;
  padding: 1.5rem;

  .buttons {
    display: flex;
    gap: 47.5px;
    width: auto;
    align-items: initial;

    .buttonFooter {
      @media only screen and (max-width: $breakpointMobile) {
        margin-right: 7rem;
        padding: 1rem;
        line-height: 2.5rem;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;

  &Cost {
    color: $black;
    font-size: $fontSmall;
    font-family: $fontFamilyMedium;
  }

  &Frequency {
    color: $primaryColor;
    font-size: $fontMedium;
    font-family: $fontFamilyBold;
  }
}
