@import '../../../variables';

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  & .content {
    width: 80%;
    min-height: 40vh;
    background-color: $white;
    padding: 0.5rem 0.5rem 8.5rem 0.5rem;
    border-radius: 1rem;
  }

  & .closeButton {
    text-align: right;
    cursor: pointer;

    & svg {
      width: 32px;
      height: 32px;
      fill: $grayMedium;
    }
  }
}
