$primaryColor: #0a8d47;
$gray: #4c4c4c;
$grayLight: #e7eaec;
$grayMedium: #737678;
$grayMediumSecondary: #242424;
$white: #ffffff;
$black: #000000;
$border: #707070;
$red: #c8432d;
$orange: #ec6120;
$butterMilk: #f5f7b6;

$faqBackgroundColor: #e8e8e8;

/* breakpoints */
$breakpointTablet: 768px;
$breakpointDesktop: 1024px;

/* fonts */
$fontLarge: 4.7rem;
$fontMediumLarge: 3rem;
$semiMediumFont: 2.5rem;
$fontMedium: 2rem;
$fontSmall: 1.5rem;
$fontXSmall: 1.4rem;

/* font family */
$fontFamilyBook: 'Gotham-Book';
$fontFamilyBold: 'Gotham-Bold';
$fontFamilyBlack: 'Gotham-Black';
$fontFamilyLight: 'Gotham-Light';
$fontFamilyThin: 'Gotham-Thin';
$fontFamilyMedium: 'Gotham-Medium';

/* rows */
$rowWidth: 75vw;
$rowWidthTable: 90vw;
$rowWidthMobile: 100%;

/* Cards */
$cardDateWidth: 223px;
$cardDateHeight: 160px;
