$primaryColor: #56a13e;
$gray: #4c4c4c;
$grayLight: #e7eaec;
$grayMedium: #737678;
$grayMediumSecondary: #242424;
$white: #ffffff;
$black: #000000;
$border: #707070;
$red: #c8432d;
$orange: #ec6120;

$faqBackgroundColor: #e8e8e8;

/* breakpoints */
$breakpointTablet: 768px;
$breakpointDesktop: 1024px;
