@import './variables';

.defaultWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  hr {
    margin: unset !important;
  }
}

.flexColumnDirection {
  flex-direction: column;
}

.content {
  // TODO: figure out a better way to set the height inside a Shopify theme
  min-height: 50vh;
  width: 100%;
}
.contentWrapper {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 16px;

  @media only screen and (max-width: $breakpointTablet) {
    padding: 0 0px;
  }
}

/*
** Utility classes
*/
$totalLoop: 10;
$multiplier: 0.5rem;
@for $i from 1 through $totalLoop {
  .mt-#{$i} {
    margin-top: $i * $multiplier;
  }
}
@for $i from 1 through $totalLoop {
  .mb-#{$i} {
    margin-bottom: $i * $multiplier;
  }
}

.textCenter {
  text-align: center;
}
.textItalic {
  font-style: italic;
}

.displayMobile {
  display: none;
}
.displayTablet {
  display: flex;
}

@media only screen and (max-width: $breakpointTablet) {
  .displayMobile {
    display: flex;
  }
  .displayTablet {
    display: none;
  }
}

/* 
** Buttons 
*/
.buttons {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: $white;

  & .button {
    min-width: 6rem;
    padding: 1rem 3.5rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  & .secondaryButton {
    background: $white;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 2em;
    padding: 5px 40px;
    text-decoration: none;
    line-height: 16px;

    &:hover {
      background: darken($white, 10%);
      cursor: pointer;
    }

    &.largeButton{
      font-size: 22px;
      padding: 20px 40px;
      box-shadow: 0px 0px 16px rgb(0 0 0 / 15%);
    }
  }

  & .primaryButton {
    background: $primaryColor;
    color: $white;
    border: 1px solid $primaryColor;
    border-radius: 2em;
    padding: 5px 40px;
    text-decoration: none;
    line-height: 16px;
    &:hover {
      background: darken($primaryColor, 10%);
      cursor: pointer;
    }
    &.largeButton{
      font-size: 22px;
      padding: 20px 40px;
      box-shadow: 0px 0px 16px rgb(0 0 0 / 15%);
    }
  }

  & .lightButton {
    background: $white;
    border: 1px solid $gray;
    color: $gray;
    &:hover {
      background: darken($white, 10%);
    }
  }
}

.bundleBuilderCard {
  box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin: 8px;
  overflow: hidden;
  background-color: $white;
}

.secondaryButton {
  background: $white;
  color: #3dae2b;
  border: 1px solid #3dae2b;
  border-radius: 2em;
  padding: 5px 40px;
  text-decoration: none;
  line-height: 16px;
}
.primaryButton {
  background: $primaryColor;
  color: $white;
  border: 1px solid $primaryColor;
  border-radius: 2em;
  padding: 5px 40px;
  text-decoration: none;
  line-height: 16px;
  &:hover {
    background: darken($primaryColor, 10%);
    cursor: pointer;
  }
}
.bundleRow{
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpointTablet) {
    flex-direction: row;
  }

  @media (min-width: $breakpointTablet) {
    flex-direction: row;
  }
}
.bundleOneThird{
  width: 100%;

  @media (min-width: $breakpointTablet) {
    width: 33%;
  }
}
.bundleTwoThirds{
  width: 100%;
  @media (min-width: $breakpointTablet) {
    width: 66%;
  }
}
