@import '../../../variables';
@import '../Account.module.scss';

.currentOrderWrapper {
  padding: 16px;
}
.currentOrderMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $breakpointTablet) {
    flex-direction: row;
  }

  & p {
    margin: 0;
  }
}
.viewMoreLink {
  background-color: $primaryColor;
  border-radius: 6px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewMoreItemsLink {
  text-align: center;
  color: white;
}
.orderHistoryTable {
  width: 100%;
}
.orderHistoryTable,
.orderHistoryTable td,
.orderHistoryTable tr,
.orderHistoryTable th {
  border: none;
  padding: 0;
}
.orderHistoryTableHeaders {
  text-align: left;
}
.orderMealNames {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.orderMealNamesText {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.orderMealNamesLink {
  margin-left: 8px;
  color: $primaryColor;
}
.orderHistoryMoreLink {
  color: $primaryColor;
  font-weight: 900;
  text-align: center;
  display: block;
}
.contentCardNavigation {
  display: flex;
}
