@import '../../../variables';
@import '../Account.module.scss';


.currentOrderWrapper{
    padding:16px;
}
.currentOrderMenu{
    display: flex;
    flex-direction: row;
}
.viewMoreLink{
    background-color: $primaryColor;
    border-radius: 6px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewMoreItemsLink{
    text-align: center;
    color: white;
}
.seeAllMenu{
    width: 10%;
    min-width: 67px;
    background-color: $primaryColor;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 8px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: $white;
    text-decoration: none;
}
.orderHistoryTable{
    width: 100%;
}
.orderHistoryTable,
.orderHistoryTable td,
.orderHistoryTable tr,
.orderHistoryTable th{
    border:none;
    padding:0;
}
.orderHistoryTableHeaders{
    text-align: left;
}
.orderMealNames{
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.orderMealNamesText{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.orderMealNamesLink{
    margin-left:8px;
    color:$primaryColor
}
.orderHistoryMoreLink{
    color:$primaryColor;
    font-weight: 900;
    text-align: center;
    display: block;
}